<style>
    a {
        text-decoration: none;
        color: white;
    }

        a :hover {
            color: slategray;
        }
</style>
@model IEnumerable<PostoGasolina.Models.Posto>

@{
    ViewBag.Title = "Posto";
}

<h2>Posto</h2>

<p>
    <a class="btn btn-outline-success mt-3" href="/Posto/Create">Criar</a>
</p>
<table class="table table-dark table-stripe">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <button class="btn btn-outline-warning">
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) 
            </button>
            |
            <button class="btn btn-outline-primary">
                @Html.ActionLink("Detalhes", "Details", new { id = item.id }) 
            </button>
            |
            <button class="btn btn-outline-danger">
                @Html.ActionLink("Excluir", "Delete", new { id = item.id })
            </button>
        </td>
    </tr>
}

</table>
