@model PostoGasolina.Models.Veiculo

@{
    ViewBag.Title = "Create";
}

<h2>Criar</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Tipo de Combustivel
            <div class="col-md-10">
                @Html.DropDownList("TipoCombustivel", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoCombustivel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Motorista
            <div class="col-md-10">
                @Html.DropDownList("Motorista", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Motorista, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-3">
                <input type="submit" value="Create" class="btn btn-outline-success" /> | 
                <a class="btn btn-outline-primary " href="/Veiculo/Index">Voltar</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
